@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
.flexible-container {
    display: flex;
    margin-bottom: 10%;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.name {
    color: orangered;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
p {
    color: gray;
    font-size: 18px;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
}
.half-width #welcome {
    margin-top: 10%;
}
.half-width p {
    margin-bottom: 30px;
}
.home-left-sidepart {
    margin-left: 7%;
}
.home-right-sidepart {
    margin-right: 1%;
    margin-left: 10%;
}
.dream-big-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-left-sidepart {
    margin-left: 5%;
}
.dream-right-sidepart {
    margin-left: 10%;
    padding-right: 5%;
}
.link-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#exp-title {
    margin-left: 7%;
    margin-bottom: 5%;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    margin: 0 7%;
    padding: 0 3% 3% 3%;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-developer {
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby-web-developer {
    border-left: 8px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    margin-bottom: 2%;
}